usn {display:block;color: blue; font-size:22pt;}
name {display:block;color: maroon; font-size:18pt; }
coll {display:block;color: blue; font-size:18pt; }
branch {display:block;color: orange; font-size:18pt; }
yoj {display:block;color: red; font-size:18pt;}
email {display:block;color: violet; font-size:18pt; }